$white: #f5f5f5;
$dark: #323232;
$grey: #5f5f5f;
$black: #181818;
$gap: 6vw;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-family: TTHovesM;
    color: $black;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.c-scrollbar {
    z-index: 99;
}

#main {
    width: 100%;
}
// Imports SCSS files
@import "utilities/utilities";
@import "components/components";
@import "pages/pages";