@mixin font-face($font-family, $font-path) {
    @font-face {
        font-family: $font-family;
        src: url(../fonts/#{$font-path});
    }
}

@include font-face(TTHovesD, "TTHovesDemiBold.otf");
@include font-face(TTHovesM, "TTHovesMedium.otf");
@include font-face(TTHovesR, "TTHovesRegular.otf");

.fontLarge {
    width: 100%;
    font-size: clamp(48px, 9vw, 180px);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    letter-spacing: clamp(-5px, -0.2vw, -2px);
    line-height: 1.2;
}

.fontMedium {
    font-size: clamp(28px, 5vw, 96px);
    font-family: TTHovesR;
    line-height: 1.25;
    letter-spacing: -0.15vw;
}

.fontSmall {
    font-size: clamp(18px, 3vw, 56px);
    font-family: TTHovesR;
    line-height: 1.25;
    letter-spacing: -0.09vw;
}

.font16 {
    font-size: clamp(16px, 1.25vw, 22px);
    font-family: TTHovesR;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

/* Reveal text */
.reveal {
    overflow: hidden;

    h1 {
        transform: translateY(9vw);
    }
}

/* Breakpoitns */

@media (max-width: 768px) {
    .reveal {
        h1 {
            transform: translateY(15vw);
        }
    }
}

@media (max-width: 560px) {
    .reveal {
        h1 {
            transform: translateY(20vw);
        }
    }
}
