@mixin font-face($font-family, $font-path) {
    @font-face {
        font-family: $font-family;
        src: url(../fonts/#{$font-path});
    }
}

@include font-face(TTHovesD, "TTHovesDemiBold.otf");
@include font-face(TTHovesM, "TTHovesMedium.otf");
@include font-face(TTHovesR, "TTHovesRegular.otf");

.fontLarge {
    width: 100%;
    font-size: 9vw;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 1.2;
}

.fontMedium {
    font-size: 5vw;
    font-family: TTHovesR;
    line-height: 1.25;
    letter-spacing: -0.15vw;
}

.fontSmall {
    font-size: 3vw;
    font-family: TTHovesR;
    line-height: 1.25;
    letter-spacing: -0.09vw;
}

.font16 {
    font-size: 18px;
    font-family: TTHovesR;
    letter-spacing: -0.3px;
    line-height: 1.5;
}

/* Reveal text */
.reveal {
    overflow: hidden;

    h1 {
        transform: translateY(9vw);
    }
}

/* Breakpoitns */

@media (max-width: 768px) {
    .fontLarge {
        font-size: 15vw;
    }

    .fontMedium {
        font-size: 7vw;
    }

    .fontSmall {
        font-size: 5vw;
    }

    .reveal {
        h1 {
            transform: translateY(15vw);
        }
    }
}

@media (max-width: 560px) {
    .fontLarge {
        font-size: 20vw;
        letter-spacing: -1vw;
    }

    .fontMedium {
        font-size: 12vw;
    }

    .fontSmall {
        font-size: 8vw;
    }

    .reveal {
        h1 {
            transform: translateY(20vw);
        }
    }
}
