nav {
    position: absolute;
    width: 100%;
    padding: 35px 35px;
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .wrapper {
        display: flex;
        gap: 15vw;
    }

    h1 {
        font-size: 36px;
        letter-spacing: -1.5px;
        /* font-family inherited from body */
    }

    .brand-link {
        color: inherit;
        display: block;
        /* Font inherited from body - same as h3.font16 */
    }


    .clock {
        font-size: 14px;
        width: 120px;
    }
}

/* Breakpoints */
@media (max-width: 768px) {
    nav {
        padding: 25px 15px;
        flex-direction: column;
        gap: 2vw;

        .wrapper {
            gap: 30vw;
        }

        h1 {
            font-size: 24px;
            letter-spacing: -0.5px;
        }

        .links a {
            padding-bottom: 5px;
        }
    }
}
